<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>


  <appSettings>
    <add key="listOfNumbers" value="123,42348,243843,3217,43242"/>
    <!--
    <add key="number" value="1389"/>
    <add key="number" value="3241"/>
    <add key="number" value="5632"/>
    <add key="number" value="623245"/>
    <add key="number" value="12345"/>
    -->
  </appSettings>
</configuration>